<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/cloud migration/">Cloud Migration</a></li>
                <li><a href="{{ site.baseurl }}/backup & DR/">Backup & DR</a></li>
                <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>
</body>
</html>

